BeautifulSoup==3.2.1
Flask==0.10.1
Flask-Bootstrap==3.0.3.1
Flask-SQLAlchemy==1.0
Flask-Script==0.6.6
FormEncode==1.2.6
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.9.0
SQLObject==1.5.1
Tempita==0.5.2
Twisted==13.2.0
Werkzeug==0.9.4
beautifulsoup4==4.3.2
cssselect==0.9.1
decorator==3.4.0
gunicorn==18.0
httplib2==0.8
ipython==1.1.0
itsdangerous==0.23
lxml==3.2.4
mercurial==2.7.1
pbr==0.5.23
psycopg2==2.5.1
pyOpenSSL==0.13.1
queuelib==1.1.1
readline==6.2.4.1
requests==2.2.0
simplejson==3.3.2
six==1.4.1
sqlalchemy-migrate==0.8.2
w3lib==1.5
wsgiref==0.1.2
zope.interface==4.0.5
