<!doctype html>
{% extends "bootstrap/base.html" %}
<html>
	<head>
		{% block styles %}
			{{super()}}
			<link rel="stylesheet" href="/static/css/bootstrap-slider.css">
			<link rel="stylesheet" href="/static/css/styles.css">
		{% endblock %}
		{% block scripts %}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script src="../static/javascript/application.js"></script>
			{{super()}}
			<script src="..	/static/javascript/bootstrap-slider.js"></script>
		{% endblock %}
		<title>MovieSnob</title>
	</head>

 	<body>
 		{% block navbar %}
		    <div class="navbar navbar-inverse navbar-fixed-top">  
		    	<div class="navbar-header">
		    		<a class="navbar-brand" href="/">MovieSnob</a>
		    	</div>
	    	</div>
	    {% endblock %}
		{% block content %}{% endblock %}
	</body>
</html>