{% extends "bootstrap/base.html" %}
<!doctype html>
<html>
	{% block head %}
		{% block styles %}
		{{super()}}
		<link rel="stylesheet"
		      href="/static/css/styles.css">
		{% endblock %}
		<title>MovieSnob</title>
	{% endblock %}

 	<body>
	    <div class="navbar navbar-fixed-top">  
        	<div class="navbar-inner">   
                    <ul class="nav">  
	                    <li class="active">  
	                     <a class="brand" href="#">Flaskpad</a>  
	                    </li>  
	                    <li><a href="#">Login</a></li>  
	                    <li><a href="#">About</a></li>  
	                    <li><a href="#">Contact</a></li>  
                	</ul> 
        	</div>
    	</div>
		{% block content %}{% endblock %}
	</body>
</html>